body {
  font-family: "sans-serif", sans-serif;
}

.content{
  position: relative;
  margin-left: 120px;
}

.carousel-inner {
    position: relative;
    max-width: 100%;
    height: 100%;

}

.sidenav {
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 10px;
  overflow-x: hidden;
  padding: 8px 0;
  margin-top: 100px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 16px;
  color: #2196F3;
  display: block;
}

.sidenav a:hover {
  color: #064579;
}

.main {
  margin-left: 140px; /* Same width as the sidebar + left position in px */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-width: 768px) {
  .sidenav {
    padding-top: 15px;
    display: none;
  }

  .sidenav a {
    font-size: 18px;
  }

  .content{
    position: absolute;
    margin-left: 0px;
    float:center;

  }


  .googleCalendar{
 
  height: 50%;
  width: 50%;
  padding-bottom: 50%;
}

.googleCalendar iframe{
 
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
}




}

.googleCalendar{
  position: relative;
  height: 100%;
  width: 100%;
  padding-bottom: 50%;
}

.googleCalendar iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}