.navbar-custom {
  background-color: #bb0000;
  height: 120px;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  opacity: 0.9;
}

.navbar-custom-right {
  float: right;
  margin: -150px;
}

#logo {
  width: 200px;
  position: fixed;
  left: 20px;
  margin-top: -55px;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

img:hover {
  -webkit-filter: brightness(50%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.icon {
  margin: 10px;
}

.contactUsForm{
  margin-top: 150px;
  padding-top: 30px;
  margin-left: 205px;
  margin-right: 205px;
  margin-bottom: 100px;
  min-width: 600px;
}

.card {
  margin: 10px;
}
